
/*profile box*/
  .profile-box {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(155, 88, 34, 0.50);
    max-width: 50%;
    margin: 20px auto;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.profile-pic {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.logout-btn {
    text-decoration: none;
    background-color: #ff4c4c;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 45%;
    display: block;
    margin-top: 10px;
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.registration-date {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

.image-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.default-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.default-pic:hover {
    border: 2px solid #007bff;
}

.change-pic-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.change-pic-btn:hover {
    background-color: #0056b3;
}

  





/*friend list*/
.friend-list {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    background-color: rgba(155, 88, 34, 0.50);
    padding: 15px;
    overflow-y: auto;
    max-height: 80vh;
}

.friend-list h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    color: #333;
}

.friends {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.friend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.friend:last-child {
    border-bottom: none;
}

.friend-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.friend-info {
    flex-grow: 1;
}

.friend-name {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.friend-status {
    font-size: 12px;
    color: #777;
}
